-i https://pypi.org/simple
asgiref==3.6.0 ; python_version >= '3.7'
async-timeout==4.0.2 ; python_full_version <= '3.11.2'
django==4.2
django-redis==5.2.0
redis==4.5.4
setuptools==67.7.2
sqlparse==0.4.4 ; python_version >= '3.5'
